USE [master]
GO
/****** Object:  Database [QLCCNew2]    Script Date: 8/7/2026 7:27:32 PM ******/
CREATE DATABASE [QLCCNew2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCCNew2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLCCNew2.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLCCNew2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLCCNew2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCCNew2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCCNew2]
GO
/****** Object:  Table [dbo].[binhChon]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[binhChon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maThongBao] [int] NOT NULL,
	[cauHoi] [nvarchar](500) NULL,
	[ngayBatDau] [datetime] NOT NULL,
	[hanChot] [datetime] NOT NULL,
	[trangThai] [nvarchar](20) NOT NULL,
	[tyLeTucSo] [decimal](5, 2) NOT NULL,
	[ketQua] [nvarchar](500) NULL,
	[tongCanHoLucMo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phuongAnBinhChon]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phuongAnBinhChon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maBinhChon] [int] NOT NULL,
	[noiDung] [nvarchar](255) NULL,
	[thuTu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieuBau]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieuBau](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maBinhChon] [int] NOT NULL,
	[maPhuongAn] [int] NOT NULL,
	[maCuDan] [int] NOT NULL,
	[thoiGianBau] [datetime] NOT NULL,
	[maCanHo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[canHo]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[canHo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[soTang] [int] NOT NULL,
	[soPhong] [varchar](255) NULL,
	[trangThai] [nvarchar](255) NULL,
	[dienTich] [decimal](6, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_KetQuaBinhChon]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_KetQuaBinhChon] AS SELECT b.id            AS maBinhChon,        b.cauHoi,        b.trangThai,        b.tyLeTucSo,        b.ketQua,        pa.noiDung      AS phuongAn,        COUNT(pb.id)    AS soPhieu,        (SELECT COUNT(DISTINCT maCanHo) FROM dbo.phieuBau WHERE maBinhChon = b.id) AS soCanDaBau,        ISNULL(b.tongCanHoLucMo, (SELECT COUNT(*) FROM dbo.canHo WHERE trangThai = N'DangO')) AS tongSoCan FROM dbo.binhChon b JOIN dbo.phuongAnBinhChon pa ON pa.maBinhChon = b.id LEFT JOIN dbo.phieuBau pb    ON pb.maPhuongAn = pa.id GROUP BY b.id, b.cauHoi, b.trangThai, b.tyLeTucSo, b.ketQua, b.tongCanHoLucMo, pa.noiDung;
GO
/****** Object:  Table [dbo].[bieuGiaDichVu]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bieuGiaDichVu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loaiDichVu] [nvarchar](20) NULL,
	[bacTu] [decimal](10, 2) NOT NULL,
	[bacDen] [decimal](10, 2) NULL,
	[donGia] [decimal](15, 2) NOT NULL,
	[hieuLucTu] [date] NOT NULL,
	[nguonGia] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chamCong]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chamCong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maNhanVien] [int] NOT NULL,
	[ngayLam] [date] NOT NULL,
	[gioVao] [datetime] NULL,
	[gioRa] [datetime] NULL,
	[caLam] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chiSoTieuThu]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chiSoTieuThu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maCanHo] [int] NOT NULL,
	[loaiDichVu] [nvarchar](255) NULL,
	[thang] [int] NOT NULL,
	[nam] [int] NOT NULL,
	[chiSo] [float] NULL,
	[ngayGhi] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chiTietHoaDon]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chiTietHoaDon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maHoaDon] [int] NOT NULL,
	[loaiDichVu] [nvarchar](255) NULL,
	[chiSoCu] [float] NULL,
	[chiSoMoi] [float] NULL,
	[thanhTien] [decimal](15, 2) NOT NULL,
	[soLuong] [decimal](10, 2) NULL,
	[donViTinh] [varchar](10) NULL,
	[donGia] [decimal](15, 2) NULL,
	[dienGiai] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuDan]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuDan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maCanHo] [int] NOT NULL,
	[maTaiKhoan] [int] NULL,
	[hoTen] [nvarchar](255) NULL,
	[soDienThoai] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[loaiCuDan] [nvarchar](255) NULL,
	[trangThai] [nvarchar](255) NULL,
	[ngayChuyenDen] [datetime2](7) NULL,
	[ngayChuyenDi] [datetime2](7) NULL,
	[cccd] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danhMucBoPhan]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danhMucBoPhan](
	[maBoPhan] [varchar](10) NOT NULL,
	[tenBoPhan] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maBoPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danhMucTienIch]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danhMucTienIch](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenTienIch] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](255) NULL,
	[sucChua] [int] NULL,
	[gioMoCua] [time](7) NULL,
	[gioDongCua] [time](7) NULL,
	[giaThueMacDinh] [decimal](15, 2) NOT NULL,
	[trangThaiHoatDong] [varchar](20) NOT NULL,
	[hinhAnh] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danhMucVaiTro]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danhMucVaiTro](
	[maVaiTro] [varchar](10) NOT NULL,
	[tenVaiTro] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datLichTienIch]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datLichTienIch](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maCanHo] [int] NOT NULL,
	[maCuDan] [int] NULL,
	[maTienIch] [int] NOT NULL,
	[ngayDat] [date] NOT NULL,
	[khungGio] [nvarchar](20) NULL,
	[giaTien] [decimal](15, 2) NOT NULL,
	[trangThai] [nvarchar](20) NULL,
	[ngayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giaoDichThanhToan]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giaoDichThanhToan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maHoaDon] [int] NOT NULL,
	[maCuDan] [int] NULL,
	[soTien] [decimal](15, 2) NOT NULL,
	[phuongThuc] [nvarchar](20) NULL,
	[maGiaoDichNganHang] [varchar](50) NULL,
	[trangThai] [nvarchar](20) NULL,
	[thoiGianTao] [datetime] NOT NULL,
	[thoiGianXacNhan] [datetime] NULL,
	[soThamChieuSaoKe] [varchar](100) NULL,
	[ghiChuDoiSoat] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoaDon]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoaDon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maCanHo] [int] NOT NULL,
	[thang] [int] NOT NULL,
	[nam] [int] NOT NULL,
	[tongTien] [decimal](15, 2) NOT NULL,
	[trangThaiThanhToan] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lichSuXuLySuCo]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lichSuXuLySuCo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maPhanAnh] [int] NOT NULL,
	[trangThai] [nvarchar](20) NULL,
	[ghiChu] [nvarchar](300) NULL,
	[maNhanVien] [int] NULL,
	[thoiGian] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanVien]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanVien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maTaiKhoan] [int] NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[soDienThoai] [varchar](15) NULL,
	[email] [varchar](100) NULL,
	[boPhan] [varchar](10) NULL,
	[ngayVaoLam] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhatKyCaTruc]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhatKyCaTruc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maBaoVe] [int] NOT NULL,
	[caTruc] [nvarchar](20) NULL,
	[ngayTruc] [date] NOT NULL,
	[noiDung] [nvarchar](max) NULL,
	[luuYBanGiao] [nvarchar](500) NULL,
	[maNguoiNhanCa] [int] NULL,
	[thoiGianBanGiao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhatKyTuanTra]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhatKyTuanTra](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maBaoVe] [int] NOT NULL,
	[soTang] [int] NOT NULL,
	[thoiGianQuet] [datetime] NOT NULL,
	[anhMinhChung] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phanAnhSuCo]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phanAnhSuCo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maCanHo] [int] NULL,
	[maCuDan] [int] NULL,
	[maNhanVien] [int] NULL,
	[tieuDe] [nvarchar](255) NULL,
	[moTa] [nvarchar](max) NULL,
	[anhTruocXuLy] [varchar](255) NULL,
	[anhSauXuLy] [varchar](255) NULL,
	[trangThai] [nvarchar](255) NULL,
	[nguonGui] [nvarchar](255) NULL,
	[ngayGui] [datetime] NOT NULL,
	[ngayHoanThanh] [datetime] NULL,
	[mucDoUuTien] [nvarchar](255) NULL,
	[loaiSuCo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quanLyXe]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quanLyXe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maCanHo] [int] NOT NULL,
	[maThe] [int] NULL,
	[bienSoXe] [varchar](20) NOT NULL,
	[loaiXe] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taiKhoan]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taiKhoan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maTaiKhoan] [varchar](255) NULL,
	[tenDangNhap] [varchar](255) NULL,
	[matKhau] [varchar](255) NOT NULL,
	[vaiTro] [varchar](10) NOT NULL,
	[boPhanCode] [varchar](10) NULL,
	[trangThaiHoatDong] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[theTu]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[theTu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maCanHo] [int] NOT NULL,
	[maCuDan] [int] NULL,
	[soThe] [varchar](50) NOT NULL,
	[ngayCap] [date] NOT NULL,
	[ngayHetHan] [date] NULL,
	[trangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[theTu_ChucNang]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[theTu_ChucNang](
	[maThe] [int] NOT NULL,
	[chucNang] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_theTu_ChucNang] PRIMARY KEY CLUSTERED 
(
	[maThe] ASC,
	[chucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thongBao]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thongBao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maNhanVien] [int] NOT NULL,
	[tieuDe] [nvarchar](255) NULL,
	[noiDung] [nvarchar](max) NULL,
	[loaiThongBao] [nvarchar](255) NULL,
	[ngayTao] [datetime] NOT NULL,
	[doiTuong] [nvarchar](255) NULL,
	[maCanHo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thongBao_DaDoc]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thongBao_DaDoc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maThongBao] [int] NOT NULL,
	[maCuDan] [int] NULL,
	[thoiGianDoc] [datetime] NOT NULL,
	[maNhanVien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bieuGiaDichVu] ON 

INSERT [dbo].[bieuGiaDichVu] ([id], [loaiDichVu], [bacTu], [bacDen], [donGia], [hieuLucTu], [nguonGia]) VALUES (1, N'Dien', CAST(0.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), CAST(1984.00 AS Decimal(15, 2)), CAST(N'2026-01-01' AS Date), N'Biểu giá điện sinh hoạt EVN')
INSERT [dbo].[bieuGiaDichVu] ([id], [loaiDichVu], [bacTu], [bacDen], [donGia], [hieuLucTu], [nguonGia]) VALUES (2, N'Dien', CAST(50.00 AS Decimal(10, 2)), CAST(100.00 AS Decimal(10, 2)), CAST(2050.00 AS Decimal(15, 2)), CAST(N'2026-01-01' AS Date), N'Biểu giá điện sinh hoạt EVN')
INSERT [dbo].[bieuGiaDichVu] ([id], [loaiDichVu], [bacTu], [bacDen], [donGia], [hieuLucTu], [nguonGia]) VALUES (3, N'Dien', CAST(100.00 AS Decimal(10, 2)), CAST(200.00 AS Decimal(10, 2)), CAST(2380.00 AS Decimal(15, 2)), CAST(N'2026-01-01' AS Date), N'Biểu giá điện sinh hoạt EVN')
SET IDENTITY_INSERT [dbo].[bieuGiaDichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[binhChon] ON 

INSERT [dbo].[binhChon] ([id], [maThongBao], [cauHoi], [ngayBatDau], [hanChot], [trangThai], [tyLeTucSo], [ketQua], [tongCanHoLucMo]) VALUES (21, 2, N'Bạn có đồng ý mở rộng sân Pickleball tầng thượng không?', CAST(N'2026-07-27T22:19:34.253' AS DateTime), CAST(N'2026-08-10T22:19:34.253' AS DateTime), N'DaDong', CAST(50.00 AS Decimal(5, 2)), N'Thông qua: "Đồng ý" (3 phiếu, tỷ lệ tham gia 50.00%)', 6)
INSERT [dbo].[binhChon] ([id], [maThongBao], [cauHoi], [ngayBatDau], [hanChot], [trangThai], [tyLeTucSo], [ketQua], [tongCanHoLucMo]) VALUES (22, 2, N'Bạn có đồng ý tăng phí quản lý lên 8.000đ/m² từ tháng 9 không?', CAST(N'2026-07-27T22:19:34.290' AS DateTime), CAST(N'2026-08-10T22:19:34.290' AS DateTime), N'KhongDuTucSo', CAST(50.00 AS Decimal(5, 2)), N'KHÔNG ĐỦ TÚC SỐ (16.67% < 50.00%). Kết quả chỉ mang tính tham khảo: "Đồng ý"', 6)
INSERT [dbo].[binhChon] ([id], [maThongBao], [cauHoi], [ngayBatDau], [hanChot], [trangThai], [tyLeTucSo], [ketQua], [tongCanHoLucMo]) VALUES (23, 34, N'đồng ý tăng tiền hồ bơi', CAST(N'2026-07-31T13:38:14.857' AS DateTime), CAST(N'2026-07-31T13:39:00.000' AS DateTime), N'DangMo', CAST(50.00 AS Decimal(5, 2)), NULL, 8)
SET IDENTITY_INSERT [dbo].[binhChon] OFF
GO
SET IDENTITY_INSERT [dbo].[canHo] ON 

INSERT [dbo].[canHo] ([id], [soTang], [soPhong], [trangThai], [dienTich]) VALUES (1, 1, N'0101', N'DangO', CAST(96.00 AS Decimal(6, 2)))
INSERT [dbo].[canHo] ([id], [soTang], [soPhong], [trangThai], [dienTich]) VALUES (2, 1, N'0102', N'DangO', CAST(95.00 AS Decimal(6, 2)))
INSERT [dbo].[canHo] ([id], [soTang], [soPhong], [trangThai], [dienTich]) VALUES (3, 1, N'0103', N'DangO', CAST(75.00 AS Decimal(6, 2)))
GO
SET IDENTITY_INSERT [dbo].[canHo] OFF
GO
SET IDENTITY_INSERT [dbo].[chamCong] ON 

INSERT [dbo].[chamCong] ([id], [maNhanVien], [ngayLam], [gioVao], [gioRa], [caLam]) VALUES (1, 7, CAST(N'2026-07-22' AS Date), CAST(N'2026-07-22T06:00:00.000' AS DateTime), CAST(N'2026-07-22T14:00:00.000' AS DateTime), N'Sang')
INSERT [dbo].[chamCong] ([id], [maNhanVien], [ngayLam], [gioVao], [gioRa], [caLam]) VALUES (2, 7, CAST(N'2026-07-23' AS Date), CAST(N'2026-07-23T14:00:00.000' AS DateTime), CAST(N'2026-07-23T22:00:00.000' AS DateTime), N'Chieu')
INSERT [dbo].[chamCong] ([id], [maNhanVien], [ngayLam], [gioVao], [gioRa], [caLam]) VALUES (3, 7, CAST(N'2026-07-24' AS Date), CAST(N'2026-07-24T22:00:00.000' AS DateTime), CAST(N'2026-07-25T06:00:00.000' AS DateTime), N'Dem')
SET IDENTITY_INSERT [dbo].[chamCong] OFF
GO
SET IDENTITY_INSERT [dbo].[chiSoTieuThu] ON 

INSERT [dbo].[chiSoTieuThu] ([id], [maCanHo], [loaiDichVu], [thang], [nam], [chiSo], [ngayGhi]) VALUES (82, 1, N'Dien', 5, 2026, 1000, CAST(N'2026-05-31T23:59:59.000' AS DateTime))
INSERT [dbo].[chiSoTieuThu] ([id], [maCanHo], [loaiDichVu], [thang], [nam], [chiSo], [ngayGhi]) VALUES (83, 1, N'Nuoc', 5, 2026, 100, CAST(N'2026-05-31T23:59:59.000' AS DateTime))
INSERT [dbo].[chiSoTieuThu] ([id], [maCanHo], [loaiDichVu], [thang], [nam], [chiSo], [ngayGhi]) VALUES (84, 2, N'Dien', 5, 2026, 1200, CAST(N'2026-05-31T23:59:59.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[chiSoTieuThu] OFF
GO
SET IDENTITY_INSERT [dbo].[chiTietHoaDon] ON 

INSERT [dbo].[chiTietHoaDon] ([id], [maHoaDon], [loaiDichVu], [chiSoCu], [chiSoMoi], [thanhTien], [soLuong], [donViTinh], [donGia], [dienGiai]) VALUES (37, 40, N'Dien', 1000, 1250, CAST(589600.00 AS Decimal(15, 2)), CAST(250.00 AS Decimal(10, 2)), N'kWh', NULL, N'Bậc 1: 50 kWh × 1,984đ = 99,200đ; Bậc 2: 50 kWh × 2,050đ = 102,500đ; Bậc 3: 100 kWh × 2,380đ = 238,000đ; Bậc 4: 50 kWh × 2,998đ = 149,900đ')
INSERT [dbo].[chiTietHoaDon] ([id], [maHoaDon], [loaiDichVu], [chiSoCu], [chiSoMoi], [thanhTien], [soLuong], [donViTinh], [donGia], [dienGiai]) VALUES (38, 40, N'Nuoc', 100, 118, CAST(130200.00 AS Decimal(15, 2)), CAST(18.00 AS Decimal(10, 2)), N'm3', NULL, N'Bậc 1: 10 m3 × 6,700đ = 67,000đ; Bậc 2: 8 m3 × 7,900đ = 63,200đ')
INSERT [dbo].[chiTietHoaDon] ([id], [maHoaDon], [loaiDichVu], [chiSoCu], [chiSoMoi], [thanhTien], [soLuong], [donViTinh], [donGia], [dienGiai]) VALUES (39, 41, N'Dien', 1200, 1380, CAST(392100.00 AS Decimal(15, 2)), CAST(180.00 AS Decimal(10, 2)), N'kWh', NULL, N'Bậc 1: 50 kWh × 1,984đ = 99,200đ; Bậc 2: 50 kWh × 2,050đ = 102,500đ; Bậc 3: 80 kWh × 2,380đ = 190,400đ')
SET IDENTITY_INSERT [dbo].[chiTietHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[cuDan] ON 

INSERT [dbo].[cuDan] ([id], [maCanHo], [maTaiKhoan], [hoTen], [soDienThoai], [email], [loaiCuDan], [trangThai], [ngayChuyenDen], [ngayChuyenDi], [cccd]) VALUES (2, 1, 11, N'Trần Văn An', N'0909123456', N'an.tran@cudan.vn', N'ChuHo', N'DangO', NULL, NULL, NULL)
INSERT [dbo].[cuDan] ([id], [maCanHo], [maTaiKhoan], [hoTen], [soDienThoai], [email], [loaiCuDan], [trangThai], [ngayChuyenDen], [ngayChuyenDi], [cccd]) VALUES (3, 1, NULL, N'Trần Lê Nguyễn', N'099999999', N'nguyengay@gmail.com', N'KhachThue', N'DangO', NULL, NULL, NULL)
INSERT [dbo].[cuDan] ([id], [maCanHo], [maTaiKhoan], [hoTen], [soDienThoai], [email], [loaiCuDan], [trangThai], [ngayChuyenDen], [ngayChuyenDi], [cccd]) VALUES (8, 2, 15, N'Chủ hộ căn 0102', N'0901000102', N'p102@polybuilding.vn', N'ChuHo', N'DangO', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[cuDan] OFF
GO
INSERT [dbo].[danhMucBoPhan] ([maBoPhan], [tenBoPhan]) VALUES (N'BanQuanLy', N'Ban quản lý')
INSERT [dbo].[danhMucBoPhan] ([maBoPhan], [tenBoPhan]) VALUES (N'BaoVe', N'Bảo vệ')
INSERT [dbo].[danhMucBoPhan] ([maBoPhan], [tenBoPhan]) VALUES (N'KeToan', N'Kế toán')
GO
SET IDENTITY_INSERT [dbo].[danhMucTienIch] ON 

INSERT [dbo].[danhMucTienIch] ([id], [tenTienIch], [moTa], [sucChua], [gioMoCua], [gioDongCua], [giaThueMacDinh], [trangThaiHoatDong], [hinhAnh]) VALUES (1, N'Hồ bơi', N'Hồ bơi ngoài trời tầng 3', 40, CAST(N'06:00:00' AS Time), CAST(N'21:00:00' AS Time), CAST(50000.00 AS Decimal(15, 2)), N'HoatDong', NULL)
INSERT [dbo].[danhMucTienIch] ([id], [tenTienIch], [moTa], [sucChua], [gioMoCua], [gioDongCua], [giaThueMacDinh], [trangThaiHoatDong], [hinhAnh]) VALUES (2, N'Phòng Gym', N'Phòng tập thể hình tầng 3', 25, CAST(N'05:00:00' AS Time), CAST(N'22:00:00' AS Time), CAST(30000.00 AS Decimal(15, 2)), N'HoatDong', NULL)
INSERT [dbo].[danhMucTienIch] ([id], [tenTienIch], [moTa], [sucChua], [gioMoCua], [gioDongCua], [giaThueMacDinh], [trangThaiHoatDong], [hinhAnh]) VALUES (3, N'Phòng sinh hoạt cộng đồng', N'Phòng họp mặt, tổ chức sự kiện cho cư dân', 60, CAST(N'08:00:00' AS Time), CAST(N'21:00:00' AS Time), CAST(100000.00 AS Decimal(15, 2)), N'HoatDong', NULL)
SET IDENTITY_INSERT [dbo].[danhMucTienIch] OFF
GO
INSERT [dbo].[danhMucVaiTro] ([maVaiTro], [tenVaiTro]) VALUES (N'BQL', N'Ban Quan Ly')
INSERT [dbo].[danhMucVaiTro] ([maVaiTro], [tenVaiTro]) VALUES (N'CD', N'Cu Dan')
INSERT [dbo].[danhMucVaiTro] ([maVaiTro], [tenVaiTro]) VALUES (N'NV', N'Nhan Vien')
GO
SET IDENTITY_INSERT [dbo].[datLichTienIch] ON 

INSERT [dbo].[datLichTienIch] ([id], [maCanHo], [maCuDan], [maTienIch], [ngayDat], [khungGio], [giaTien], [trangThai], [ngayTao]) VALUES (2, 1, 2, 1, CAST(N'2026-07-30' AS Date), N'08:00-09:00', CAST(50000.00 AS Decimal(15, 2)), N'DaHuy', CAST(N'2026-07-28T19:07:32.203' AS DateTime))
INSERT [dbo].[datLichTienIch] ([id], [maCanHo], [maCuDan], [maTienIch], [ngayDat], [khungGio], [giaTien], [trangThai], [ngayTao]) VALUES (3, 2, 8, 2, CAST(N'2026-07-29' AS Date), N'10:00-11:00', CAST(30000.00 AS Decimal(15, 2)), N'ChoDuyet', CAST(N'2026-07-28T19:26:57.167' AS DateTime))
INSERT [dbo].[datLichTienIch] ([id], [maCanHo], [maCuDan], [maTienIch], [ngayDat], [khungGio], [giaTien], [trangThai], [ngayTao]) VALUES (5, 1, 2, 1, CAST(N'2026-07-29' AS Date), N'16:00-17:00', CAST(50000.00 AS Decimal(15, 2)), N'ChoDuyet', CAST(N'2026-07-28T19:49:58.023' AS DateTime))
SET IDENTITY_INSERT [dbo].[datLichTienIch] OFF
GO
SET IDENTITY_INSERT [dbo].[giaoDichThanhToan] ON 

INSERT [dbo].[giaoDichThanhToan] ([id], [maHoaDon], [maCuDan], [soTien], [phuongThuc], [maGiaoDichNganHang], [trangThai], [thoiGianTao], [thoiGianXacNhan], [soThamChieuSaoKe], [ghiChuDoiSoat]) VALUES (1, 46, 2, CAST(1564160.00 AS Decimal(15, 2)), N'TienMat', N'TM-TEST-001', N'ThanhCong', CAST(N'2026-07-28T17:19:30.633' AS DateTime), CAST(N'2026-07-28T17:19:30.633' AS DateTime), NULL, NULL)
INSERT [dbo].[giaoDichThanhToan] ([id], [maHoaDon], [maCuDan], [soTien], [phuongThuc], [maGiaoDichNganHang], [trangThai], [thoiGianTao], [thoiGianXacNhan], [soThamChieuSaoKe], [ghiChuDoiSoat]) VALUES (2, 47, 8, CAST(1351980.00 AS Decimal(15, 2)), N'ChuyenKhoan', N'FT2607289999', N'ThanhCong', CAST(N'2026-07-28T17:19:30.703' AS DateTime), CAST(N'2026-07-28T17:19:30.723' AS DateTime), NULL, NULL)
INSERT [dbo].[giaoDichThanhToan] ([id], [maHoaDon], [maCuDan], [soTien], [phuongThuc], [maGiaoDichNganHang], [trangThai], [thoiGianTao], [thoiGianXacNhan], [soThamChieuSaoKe], [ghiChuDoiSoat]) VALUES (3, 52, 2, CAST(1869540.00 AS Decimal(15, 2)), N'TienMat', N'', N'ThanhCong', CAST(N'2026-07-28T17:51:01.700' AS DateTime), CAST(N'2026-07-28T17:51:01.700' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[giaoDichThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[hoaDon] ON 

INSERT [dbo].[hoaDon] ([id], [maCanHo], [thang], [nam], [tongTien], [trangThaiThanhToan]) VALUES (40, 1, 6, 2026, CAST(1479800.00 AS Decimal(15, 2)), N'DaThanhToan')
INSERT [dbo].[hoaDon] ([id], [maCanHo], [thang], [nam], [tongTien], [trangThaiThanhToan]) VALUES (41, 2, 6, 2026, CAST(1258600.00 AS Decimal(15, 2)), N'DaThanhToan')
INSERT [dbo].[hoaDon] ([id], [maCanHo], [thang], [nam], [tongTien], [trangThaiThanhToan]) VALUES (42, 6, 6, 2026, CAST(916300.00 AS Decimal(15, 2)), N'DaThanhToan')
SET IDENTITY_INSERT [dbo].[hoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[lichSuXuLySuCo] ON 

INSERT [dbo].[lichSuXuLySuCo] ([id], [maPhanAnh], [trangThai], [ghiChu], [maNhanVien], [thoiGian]) VALUES (9, 4, N'MoiTiepNhan', N'Cư dân gửi yêu cầu sửa chữa.', NULL, CAST(N'2026-07-11T14:20:00.000' AS DateTime))
INSERT [dbo].[lichSuXuLySuCo] ([id], [maPhanAnh], [trangThai], [ghiChu], [maNhanVien], [thoiGian]) VALUES (10, 4, N'DangXuLy', N'Kỹ thuật viên Hoàng Văn Nam tiếp nhận sửa chữa bồn nước.', 5, CAST(N'2026-07-11T15:30:00.000' AS DateTime))
INSERT [dbo].[lichSuXuLySuCo] ([id], [maPhanAnh], [trangThai], [ghiChu], [maNhanVien], [thoiGian]) VALUES (11, 5, N'MoiTiepNhan', N'Cư dân phản ánh đèn hỏng.', NULL, CAST(N'2026-07-05T09:10:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[lichSuXuLySuCo] OFF
GO
SET IDENTITY_INSERT [dbo].[nhanVien] ON 

INSERT [dbo].[nhanVien] ([id], [maTaiKhoan], [hoTen], [soDienThoai], [email], [boPhan], [ngayVaoLam]) VALUES (1, 1, N'Nguyễn Văn Quân', N'0901000001', N'bql01@chungcu.vn', N'BanQuanLy', CAST(N'2023-01-01' AS Date))
INSERT [dbo].[nhanVien] ([id], [maTaiKhoan], [hoTen], [soDienThoai], [email], [boPhan], [ngayVaoLam]) VALUES (2, 2, N'Lê Thị Hoa', N'0901000002', N'letan01@chungcu.vn', N'LeTan', CAST(N'2023-02-01' AS Date))
INSERT [dbo].[nhanVien] ([id], [maTaiKhoan], [hoTen], [soDienThoai], [email], [boPhan], [ngayVaoLam]) VALUES (3, 3, N'Trần Thị Mai', N'0901000003', N'letan02@chungcu.vn', N'LeTan', CAST(N'2023-02-15' AS Date))
SET IDENTITY_INSERT [dbo].[nhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[nhatKyCaTruc] ON 

INSERT [dbo].[nhatKyCaTruc] ([id], [maBaoVe], [caTruc], [ngayTruc], [noiDung], [luuYBanGiao], [maNguoiNhanCa], [thoiGianBanGiao]) VALUES (1, 7, N'Sang', CAST(N'2026-07-22' AS Date), N'Tuần tra định kỳ sảnh chính và tầng hầm, không phát hiện bất thường.', N'Bàn giao bộ đàm và chìa khóa phòng kỹ thuật', 8, CAST(N'2026-07-22T14:05:00.000' AS DateTime))
INSERT [dbo].[nhatKyCaTruc] ([id], [maBaoVe], [caTruc], [ngayTruc], [noiDung], [luuYBanGiao], [maNguoiNhanCa], [thoiGianBanGiao]) VALUES (2, 8, N'Chieu', CAST(N'2026-07-23' AS Date), N'Tình hình an ninh ca chiều ổn định, hỗ trợ cư dân nhận bưu kiện.', N'Bàn giao sổ trực ca chiều', 9, CAST(N'2026-07-23T22:10:00.000' AS DateTime))
INSERT [dbo].[nhatKyCaTruc] ([id], [maBaoVe], [caTruc], [ngayTruc], [noiDung], [luuYBanGiao], [maNguoiNhanCa], [thoiGianBanGiao]) VALUES (3, 9, N'Dem', CAST(N'2026-07-24' AS Date), N'Ca đêm êm sảnh, hệ thống camera hoạt động tốt.', N'Cửa sảnh chính đã khóa an toàn', 7, CAST(N'2026-07-25T06:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[nhatKyCaTruc] OFF
GO
SET IDENTITY_INSERT [dbo].[nhatKyTuanTra] ON 

INSERT [dbo].[nhatKyTuanTra] ([id], [maBaoVe], [soTang], [thoiGianQuet], [anhMinhChung]) VALUES (1, 7, 1, CAST(N'2026-07-22T08:30:00.000' AS DateTime), N'assets/tuan-tra/tang01.jpg')
INSERT [dbo].[nhatKyTuanTra] ([id], [maBaoVe], [soTang], [thoiGianQuet], [anhMinhChung]) VALUES (2, 7, 2, CAST(N'2026-07-22T08:45:00.000' AS DateTime), N'assets/tuan-tra/tang02.jpg')
INSERT [dbo].[nhatKyTuanTra] ([id], [maBaoVe], [soTang], [thoiGianQuet], [anhMinhChung]) VALUES (3, 7, 3, CAST(N'2026-07-22T09:00:00.000' AS DateTime), N'assets/tuan-tra/tang03.jpg')
SET IDENTITY_INSERT [dbo].[nhatKyTuanTra] OFF
GO
SET IDENTITY_INSERT [dbo].[phanAnhSuCo] ON 

INSERT [dbo].[phanAnhSuCo] ([id], [maCanHo], [maCuDan], [maNhanVien], [tieuDe], [moTa], [anhTruocXuLy], [anhSauXuLy], [trangThai], [nguonGui], [ngayGui], [ngayHoanThanh], [mucDoUuTien], [loaiSuCo]) VALUES (4, 1, 2, 5, N'Rò rỉ nước bồn rửa bếp', N'B?n r?a chén ? b?p b? rò r? nu?c ? du?ng ?ng x? du?i g?m t?, nu?c tràn ra sàn g? gây ?m m?c.', N'assets/img/ro_ri_nuoc_truoc.jpg', N'assets/uploads/suco/test_nghiemthu_4.jpg', N'HoanThanh', N'CuDan', CAST(N'2026-07-11T14:20:00.000' AS DateTime), CAST(N'2026-07-28T11:06:22.093' AS DateTime), N'TrungBinh', N'Nuoc')
INSERT [dbo].[phanAnhSuCo] ([id], [maCanHo], [maCuDan], [maNhanVien], [tieuDe], [moTa], [anhTruocXuLy], [anhSauXuLy], [trangThai], [nguonGui], [ngayGui], [ngayHoanThanh], [mucDoUuTien], [loaiSuCo]) VALUES (5, 1, 2, 6, N'Đèn hành hành lang chập chờn', N'Bóng dèn hành lang tru?c c?a can h? b? ch?p ch?n, nh?p nháy liên t?c gây chói m?t.', N'assets/img/den_chap_chon_truoc.jpg', N'assets/img/den_chap_chon_sau.jpg', N'HoanThanh', N'CuDan', CAST(N'2026-07-05T09:10:00.000' AS DateTime), CAST(N'2026-07-05T10:30:00.000' AS DateTime), N'Thap', N'Dien')
INSERT [dbo].[phanAnhSuCo] ([id], [maCanHo], [maCuDan], [maNhanVien], [tieuDe], [moTa], [anhTruocXuLy], [anhSauXuLy], [trangThai], [nguonGui], [ngayGui], [ngayHoanThanh], [mucDoUuTien], [loaiSuCo]) VALUES (6, 1, 2, 5, N'Cửa thang thoát hiểm kẹt', N'C?a s?t thang thoát hi?m t?ng 1 b? k?t b?n l? r?t n?ng, không th? d?y nh? ra du?c.', N'assets/img/cua_ket_truoc.jpg', N'assets/img/cua_ket_sau.jpg', N'HoanThanh', N'CuDan', CAST(N'2026-06-28T19:45:00.000' AS DateTime), CAST(N'2026-06-29T08:30:00.000' AS DateTime), N'Cao', N'Khac')
SET IDENTITY_INSERT [dbo].[phanAnhSuCo] OFF
GO
SET IDENTITY_INSERT [dbo].[phieuBau] ON 

INSERT [dbo].[phieuBau] ([id], [maBinhChon], [maPhuongAn], [maCuDan], [thoiGianBau], [maCanHo]) VALUES (15, 22, 33, 2, CAST(N'2026-07-27T22:21:47.380' AS DateTime), 1)
INSERT [dbo].[phieuBau] ([id], [maBinhChon], [maPhuongAn], [maCuDan], [thoiGianBau], [maCanHo]) VALUES (16, 21, 31, 2, CAST(N'2026-07-27T22:21:50.677' AS DateTime), 1)
INSERT [dbo].[phieuBau] ([id], [maBinhChon], [maPhuongAn], [maCuDan], [thoiGianBau], [maCanHo]) VALUES (17, 21, 31, 8, CAST(N'2026-07-27T22:25:32.810' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[phieuBau] OFF
GO
SET IDENTITY_INSERT [dbo].[phuongAnBinhChon] ON 

INSERT [dbo].[phuongAnBinhChon] ([id], [maBinhChon], [noiDung], [thuTu]) VALUES (31, 21, N'Đồng ý', 1)
INSERT [dbo].[phuongAnBinhChon] ([id], [maBinhChon], [noiDung], [thuTu]) VALUES (32, 21, N'Không đồng ý', 2)
INSERT [dbo].[phuongAnBinhChon] ([id], [maBinhChon], [noiDung], [thuTu]) VALUES (33, 22, N'Đồng ý', 1)
SET IDENTITY_INSERT [dbo].[phuongAnBinhChon] OFF
GO
SET IDENTITY_INSERT [dbo].[quanLyXe] ON 

INSERT [dbo].[quanLyXe] ([id], [maCanHo], [maThe], [bienSoXe], [loaiXe]) VALUES (1, 1, NULL, N'30A-123.45', N'OTo')
INSERT [dbo].[quanLyXe] ([id], [maCanHo], [maThe], [bienSoXe], [loaiXe]) VALUES (2, 1, 3, N'29H1-678.90', N'XeMay')
INSERT [dbo].[quanLyXe] ([id], [maCanHo], [maThe], [bienSoXe], [loaiXe]) VALUES (3, 2, 4, N'30F-456.78', N'OTo')
SET IDENTITY_INSERT [dbo].[quanLyXe] OFF
GO
SET IDENTITY_INSERT [dbo].[taiKhoan] ON 

INSERT [dbo].[taiKhoan] ([id], [maTaiKhoan], [tenDangNhap], [matKhau], [vaiTro], [boPhanCode], [trangThaiHoatDong]) VALUES (1, N'bql_0001', N'bql.truongban', N'$2a$12$bBgNd6is6Pix2ea8hzjZl.07pKfxfpRWMjZGb0dSL4tdAdc.QEoY.', N'BQL', N'BanQuanLy', N'HoatDong')
INSERT [dbo].[taiKhoan] ([id], [maTaiKhoan], [tenDangNhap], [matKhau], [vaiTro], [boPhanCode], [trangThaiHoatDong]) VALUES (2, N'nv_lt0001', N'letan.thi', N'$2a$12$8HMeG5xSIpA9dejRcvBx6eyehAcBoqzVwUuCHmhvYYaZv/KBXIM22', N'NV', N'LeTan', N'HoatDong')
INSERT [dbo].[taiKhoan] ([id], [maTaiKhoan], [tenDangNhap], [matKhau], [vaiTro], [boPhanCode], [trangThaiHoatDong]) VALUES (3, N'nv_lt0002', N'letan.mai', N'$2a$12$Rx7vr7DcJmXbpBWD4QJw3uiDNGWLaPuXYl3wNBlXr5yL4725j3qZW', N'NV', N'LeTan', N'HoatDong')
SET IDENTITY_INSERT [dbo].[taiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[theTu] ON 

INSERT [dbo].[theTu] ([id], [maCanHo], [maCuDan], [soThe], [ngayCap], [ngayHetHan], [trangThai]) VALUES (2, 1, 2, N'THE-0101-01', CAST(N'2025-01-15' AS Date), CAST(N'2027-01-15' AS Date), N'DaThuHoi')
INSERT [dbo].[theTu] ([id], [maCanHo], [maCuDan], [soThe], [ngayCap], [ngayHetHan], [trangThai]) VALUES (3, 1, 3, N'THE-0101-02', CAST(N'2025-08-01' AS Date), CAST(N'2027-08-01' AS Date), N'DangSuDung')
INSERT [dbo].[theTu] ([id], [maCanHo], [maCuDan], [soThe], [ngayCap], [ngayHetHan], [trangThai]) VALUES (4, 2, 8, N'THE-0102-01', CAST(N'2025-02-01' AS Date), CAST(N'2027-02-01' AS Date), N'DangSuDung')
SET IDENTITY_INSERT [dbo].[theTu] OFF
GO
INSERT [dbo].[theTu_ChucNang] ([maThe], [chucNang]) VALUES (2, N'BaiXeOTo')
INSERT [dbo].[theTu_ChucNang] ([maThe], [chucNang]) VALUES (2, N'CuaChinh')
INSERT [dbo].[theTu_ChucNang] ([maThe], [chucNang]) VALUES (2, N'HoBoi')
GO
SET IDENTITY_INSERT [dbo].[thongBao] ON 

INSERT [dbo].[thongBao] ([id], [maNhanVien], [tieuDe], [noiDung], [loaiThongBao], [ngayTao], [doiTuong], [maCanHo]) VALUES (2, 1, N'Bảo trì máy lạnh', N'sssss', N'BaoTri', CAST(N'2026-07-20T22:03:59.667' AS DateTime), N'TatCa', NULL)
INSERT [dbo].[thongBao] ([id], [maNhanVien], [tieuDe], [noiDung], [loaiThongBao], [ngayTao], [doiTuong], [maCanHo]) VALUES (3, 1, N'Bảo trì thang máy', N'ádsfds', N'BaoTri', CAST(N'2026-07-20T22:07:03.883' AS DateTime), N'TatCa', NULL)
INSERT [dbo].[thongBao] ([id], [maNhanVien], [tieuDe], [noiDung], [loaiThongBao], [ngayTao], [doiTuong], [maCanHo]) VALUES (10, 1, N'Vỡ ống nước', N'sdgfaf', N'ThongThuong', CAST(N'2026-07-24T20:10:00.557' AS DateTime), N'TatCa', NULL)
SET IDENTITY_INSERT [dbo].[thongBao] OFF
GO
SET IDENTITY_INSERT [dbo].[thongBao_DaDoc] ON 

INSERT [dbo].[thongBao_DaDoc] ([id], [maThongBao], [maCuDan], [thoiGianDoc], [maNhanVien]) VALUES (1, 17, 2, CAST(N'2026-07-27T20:22:22.123' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[thongBao_DaDoc] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_canHo_vitri]    Script Date: 8/7/2026 7:27:33 PM ******/
ALTER TABLE [dbo].[canHo] ADD  CONSTRAINT [UQ_canHo_vitri] UNIQUE NONCLUSTERED 
(
	[soTang] ASC,
	[soPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_chamCong]    Script Date: 8/7/2026 7:27:33 PM ******/
ALTER TABLE [dbo].[chamCong] ADD  CONSTRAINT [UQ_chamCong] UNIQUE NONCLUSTERED 
(
	[maNhanVien] ASC,
	[ngayLam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_chiSo_ky]    Script Date: 8/7/2026 7:27:33 PM ******/
ALTER TABLE [dbo].[chiSoTieuThu] ADD  CONSTRAINT [UQ_chiSo_ky] UNIQUE NONCLUSTERED 
(
	[maCanHo] ASC,
	[loaiDichVu] ASC,
	[thang] ASC,
	[nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_cuDan_maTaiKhoan]    Script Date: 8/7/2026 7:27:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_cuDan_maTaiKhoan] ON [dbo].[cuDan]
(
	[maTaiKhoan] ASC
)
WHERE ([maTaiKhoan] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__danhMucT__EAD24CB50E5D7AFF]    Script Date: 8/7/2026 7:27:33 PM ******/
ALTER TABLE [dbo].[danhMucTienIch] ADD UNIQUE NONCLUSTERED 
(
	[tenTienIch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_datLich_khongTrung]    Script Date: 8/7/2026 7:27:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_datLich_khongTrung] ON [dbo].[datLichTienIch]
(
	[maTienIch] ASC,
	[ngayDat] ASC,
	[khungGio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_gdtt_soThamChieuSaoKe]    Script Date: 8/7/2026 7:27:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_gdtt_soThamChieuSaoKe] ON [dbo].[giaoDichThanhToan]
(
	[soThamChieuSaoKe] ASC
)
WHERE ([soThamChieuSaoKe] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_hoaDon_thang]    Script Date: 8/7/2026 7:27:33 PM ******/
ALTER TABLE [dbo].[hoaDon] ADD  CONSTRAINT [UQ_hoaDon_thang] UNIQUE NONCLUSTERED 
(
	[maCanHo] ASC,
	[thang] ASC,
	[nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__nhanVien__8FFF6A9C1047BD2C]    Script Date: 8/7/2026 7:27:33 PM ******/
ALTER TABLE [dbo].[nhanVien] ADD UNIQUE NONCLUSTERED 
(
	[maTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_caTruc]    Script Date: 8/7/2026 7:27:33 PM ******/
ALTER TABLE [dbo].[nhatKyCaTruc] ADD  CONSTRAINT [UQ_caTruc] UNIQUE NONCLUSTERED 
(
	[maBaoVe] ASC,
	[caTruc] ASC,
	[ngayTruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_phieuBau_motPhieu]    Script Date: 8/7/2026 7:27:33 PM ******/
ALTER TABLE [dbo].[phieuBau] ADD  CONSTRAINT [UQ_phieuBau_motPhieu] UNIQUE NONCLUSTERED 
(
	[maBinhChon] ASC,
	[maCuDan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_phieuBau_motCan]    Script Date: 8/7/2026 7:27:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_phieuBau_motCan] ON [dbo].[phieuBau]
(
	[maBinhChon] ASC,
	[maCanHo] ASC
)
WHERE ([maCanHo] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__quanLyXe__410E03A7726A1A1C]    Script Date: 8/7/2026 7:27:33 PM ******/
ALTER TABLE [dbo].[quanLyXe] ADD UNIQUE NONCLUSTERED 
(
	[bienSoXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_quanLyXe_bienSoXe]    Script Date: 8/7/2026 7:27:33 PM ******/
ALTER TABLE [dbo].[quanLyXe] ADD  CONSTRAINT [UQ_quanLyXe_bienSoXe] UNIQUE NONCLUSTERED 
(
	[bienSoXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__taiKhoan__59267D4AA14E95F2]    Script Date: 8/7/2026 7:27:33 PM ******/
ALTER TABLE [dbo].[taiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__taiKhoan__8FFF6A9CB3CC9C12]    Script Date: 8/7/2026 7:27:33 PM ******/
ALTER TABLE [dbo].[taiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[maTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__theTu__53D7D7E4FDF130EB]    Script Date: 8/7/2026 7:27:33 PM ******/
ALTER TABLE [dbo].[theTu] ADD UNIQUE NONCLUSTERED 
(
	[soThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_theTu_soThe]    Script Date: 8/7/2026 7:27:33 PM ******/
ALTER TABLE [dbo].[theTu] ADD  CONSTRAINT [UQ_theTu_soThe] UNIQUE NONCLUSTERED 
(
	[soThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_daDoc]    Script Date: 8/7/2026 7:27:33 PM ******/
ALTER TABLE [dbo].[thongBao_DaDoc] ADD  CONSTRAINT [UQ_daDoc] UNIQUE NONCLUSTERED 
(
	[maThongBao] ASC,
	[maCuDan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bieuGiaDichVu] ADD  DEFAULT ((0)) FOR [bacTu]
GO
ALTER TABLE [dbo].[binhChon] ADD  DEFAULT (getdate()) FOR [ngayBatDau]
GO
ALTER TABLE [dbo].[binhChon] ADD  DEFAULT ((50.00)) FOR [tyLeTucSo]
GO
ALTER TABLE [dbo].[chiSoTieuThu] ADD  DEFAULT (getdate()) FOR [ngayGhi]
GO
ALTER TABLE [dbo].[chiTietHoaDon] ADD  DEFAULT ((0)) FOR [thanhTien]
GO
ALTER TABLE [dbo].[danhMucTienIch] ADD  DEFAULT ((0)) FOR [giaThueMacDinh]
GO
ALTER TABLE [dbo].[danhMucTienIch] ADD  DEFAULT (N'HoatDong') FOR [trangThaiHoatDong]
GO
ALTER TABLE [dbo].[datLichTienIch] ADD  DEFAULT ((0)) FOR [giaTien]
GO
ALTER TABLE [dbo].[datLichTienIch] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[giaoDichThanhToan] ADD  DEFAULT (getdate()) FOR [thoiGianTao]
GO
ALTER TABLE [dbo].[hoaDon] ADD  DEFAULT ((0)) FOR [tongTien]
GO
ALTER TABLE [dbo].[lichSuXuLySuCo] ADD  DEFAULT (getdate()) FOR [thoiGian]
GO
ALTER TABLE [dbo].[nhatKyTuanTra] ADD  DEFAULT (getdate()) FOR [thoiGianQuet]
GO
ALTER TABLE [dbo].[phanAnhSuCo] ADD  DEFAULT (getdate()) FOR [ngayGui]
GO
ALTER TABLE [dbo].[phieuBau] ADD  DEFAULT (getdate()) FOR [thoiGianBau]
GO
ALTER TABLE [dbo].[phuongAnBinhChon] ADD  DEFAULT ((1)) FOR [thuTu]
GO
ALTER TABLE [dbo].[theTu] ADD  DEFAULT (getdate()) FOR [ngayCap]
GO
ALTER TABLE [dbo].[thongBao] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[thongBao_DaDoc] ADD  DEFAULT (getdate()) FOR [thoiGianDoc]
GO
ALTER TABLE [dbo].[binhChon]  WITH CHECK ADD  CONSTRAINT [FK_binhChon_thongBao] FOREIGN KEY([maThongBao])
REFERENCES [dbo].[thongBao] ([id])
GO
ALTER TABLE [dbo].[binhChon] CHECK CONSTRAINT [FK_binhChon_thongBao]
GO
ALTER TABLE [dbo].[chamCong]  WITH CHECK ADD  CONSTRAINT [FK_chamCong_nhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[nhanVien] ([id])
GO
ALTER TABLE [dbo].[chamCong] CHECK CONSTRAINT [FK_chamCong_nhanVien]
GO
ALTER TABLE [dbo].[chiSoTieuThu]  WITH CHECK ADD  CONSTRAINT [FK_chiSo_canHo] FOREIGN KEY([maCanHo])
REFERENCES [dbo].[canHo] ([id])
GO
ALTER TABLE [dbo].[chiSoTieuThu] CHECK CONSTRAINT [FK_chiSo_canHo]
GO
ALTER TABLE [dbo].[chiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_chiTietHoaDon_hoaDon] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[hoaDon] ([id])
GO
ALTER TABLE [dbo].[chiTietHoaDon] CHECK CONSTRAINT [FK_chiTietHoaDon_hoaDon]
GO
ALTER TABLE [dbo].[cuDan]  WITH CHECK ADD  CONSTRAINT [FK_cuDan_canHo] FOREIGN KEY([maCanHo])
REFERENCES [dbo].[canHo] ([id])
GO
ALTER TABLE [dbo].[cuDan] CHECK CONSTRAINT [FK_cuDan_canHo]
GO
ALTER TABLE [dbo].[cuDan]  WITH CHECK ADD  CONSTRAINT [FK_cuDan_taiKhoan] FOREIGN KEY([maTaiKhoan])
REFERENCES [dbo].[taiKhoan] ([id])
GO
ALTER TABLE [dbo].[cuDan] CHECK CONSTRAINT [FK_cuDan_taiKhoan]
GO
ALTER TABLE [dbo].[datLichTienIch]  WITH CHECK ADD  CONSTRAINT [FK_datLich_tienIch] FOREIGN KEY([maTienIch])
REFERENCES [dbo].[danhMucTienIch] ([id])
GO
ALTER TABLE [dbo].[datLichTienIch] CHECK CONSTRAINT [FK_datLich_tienIch]
GO
ALTER TABLE [dbo].[datLichTienIch]  WITH CHECK ADD  CONSTRAINT [FK_datLichTienIch_canHo] FOREIGN KEY([maCanHo])
REFERENCES [dbo].[canHo] ([id])
GO
ALTER TABLE [dbo].[datLichTienIch] CHECK CONSTRAINT [FK_datLichTienIch_canHo]
GO
ALTER TABLE [dbo].[datLichTienIch]  WITH CHECK ADD  CONSTRAINT [FK_datLichTienIch_cuDan] FOREIGN KEY([maCuDan])
REFERENCES [dbo].[cuDan] ([id])
GO
ALTER TABLE [dbo].[datLichTienIch] CHECK CONSTRAINT [FK_datLichTienIch_cuDan]
GO
ALTER TABLE [dbo].[giaoDichThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_giaoDich_cuDan] FOREIGN KEY([maCuDan])
REFERENCES [dbo].[cuDan] ([id])
GO
ALTER TABLE [dbo].[giaoDichThanhToan] CHECK CONSTRAINT [FK_giaoDich_cuDan]
GO
ALTER TABLE [dbo].[giaoDichThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_giaoDich_hoaDon] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[hoaDon] ([id])
GO
ALTER TABLE [dbo].[giaoDichThanhToan] CHECK CONSTRAINT [FK_giaoDich_hoaDon]
GO
ALTER TABLE [dbo].[hoaDon]  WITH CHECK ADD  CONSTRAINT [FK_hoaDon_canHo] FOREIGN KEY([maCanHo])
REFERENCES [dbo].[canHo] ([id])
GO
ALTER TABLE [dbo].[hoaDon] CHECK CONSTRAINT [FK_hoaDon_canHo]
GO
ALTER TABLE [dbo].[lichSuXuLySuCo]  WITH CHECK ADD  CONSTRAINT [FK_lichSu_nhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[nhanVien] ([id])
GO
ALTER TABLE [dbo].[lichSuXuLySuCo] CHECK CONSTRAINT [FK_lichSu_nhanVien]
GO
ALTER TABLE [dbo].[lichSuXuLySuCo]  WITH CHECK ADD  CONSTRAINT [FK_lichSu_phanAnh] FOREIGN KEY([maPhanAnh])
REFERENCES [dbo].[phanAnhSuCo] ([id])
GO
ALTER TABLE [dbo].[lichSuXuLySuCo] CHECK CONSTRAINT [FK_lichSu_phanAnh]
GO
ALTER TABLE [dbo].[nhanVien]  WITH CHECK ADD  CONSTRAINT [FK_nhanVien_boPhan] FOREIGN KEY([boPhan])
REFERENCES [dbo].[danhMucBoPhan] ([maBoPhan])
GO
ALTER TABLE [dbo].[nhanVien] CHECK CONSTRAINT [FK_nhanVien_boPhan]
GO
ALTER TABLE [dbo].[nhanVien]  WITH CHECK ADD  CONSTRAINT [FK_nhanVien_taiKhoan] FOREIGN KEY([maTaiKhoan])
REFERENCES [dbo].[taiKhoan] ([id])
GO
ALTER TABLE [dbo].[nhanVien] CHECK CONSTRAINT [FK_nhanVien_taiKhoan]
GO
ALTER TABLE [dbo].[nhatKyCaTruc]  WITH CHECK ADD  CONSTRAINT [FK_caTruc_baoVe] FOREIGN KEY([maBaoVe])
REFERENCES [dbo].[nhanVien] ([id])
GO
ALTER TABLE [dbo].[nhatKyCaTruc] CHECK CONSTRAINT [FK_caTruc_baoVe]
GO
ALTER TABLE [dbo].[nhatKyCaTruc]  WITH CHECK ADD  CONSTRAINT [FK_caTruc_nhanCa] FOREIGN KEY([maNguoiNhanCa])
REFERENCES [dbo].[nhanVien] ([id])
GO
ALTER TABLE [dbo].[nhatKyCaTruc] CHECK CONSTRAINT [FK_caTruc_nhanCa]
GO
ALTER TABLE [dbo].[nhatKyTuanTra]  WITH CHECK ADD  CONSTRAINT [FK_nhatKyTuanTra_nhanVien] FOREIGN KEY([maBaoVe])
REFERENCES [dbo].[nhanVien] ([id])
GO
ALTER TABLE [dbo].[nhatKyTuanTra] CHECK CONSTRAINT [FK_nhatKyTuanTra_nhanVien]
GO
ALTER TABLE [dbo].[phanAnhSuCo]  WITH CHECK ADD  CONSTRAINT [FK_phanAnhSuCo_canHo] FOREIGN KEY([maCanHo])
REFERENCES [dbo].[canHo] ([id])
GO
ALTER TABLE [dbo].[phanAnhSuCo] CHECK CONSTRAINT [FK_phanAnhSuCo_canHo]
GO
ALTER TABLE [dbo].[phanAnhSuCo]  WITH CHECK ADD  CONSTRAINT [FK_phanAnhSuCo_cuDan] FOREIGN KEY([maCuDan])
REFERENCES [dbo].[cuDan] ([id])
GO
ALTER TABLE [dbo].[phanAnhSuCo] CHECK CONSTRAINT [FK_phanAnhSuCo_cuDan]
GO
ALTER TABLE [dbo].[phanAnhSuCo]  WITH CHECK ADD  CONSTRAINT [FK_phanAnhSuCo_nhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[nhanVien] ([id])
GO
ALTER TABLE [dbo].[phanAnhSuCo] CHECK CONSTRAINT [FK_phanAnhSuCo_nhanVien]
GO
ALTER TABLE [dbo].[phieuBau]  WITH CHECK ADD  CONSTRAINT [FK_phieuBau_binhChon] FOREIGN KEY([maBinhChon])
REFERENCES [dbo].[binhChon] ([id])
GO
ALTER TABLE [dbo].[phieuBau] CHECK CONSTRAINT [FK_phieuBau_binhChon]
GO
ALTER TABLE [dbo].[phieuBau]  WITH CHECK ADD  CONSTRAINT [FK_phieuBau_canHo] FOREIGN KEY([maCanHo])
REFERENCES [dbo].[canHo] ([id])
GO
ALTER TABLE [dbo].[phieuBau] CHECK CONSTRAINT [FK_phieuBau_canHo]
GO
ALTER TABLE [dbo].[phieuBau]  WITH CHECK ADD  CONSTRAINT [FK_phieuBau_cuDan] FOREIGN KEY([maCuDan])
REFERENCES [dbo].[cuDan] ([id])
GO
ALTER TABLE [dbo].[phieuBau] CHECK CONSTRAINT [FK_phieuBau_cuDan]
GO
ALTER TABLE [dbo].[phieuBau]  WITH CHECK ADD  CONSTRAINT [FK_phieuBau_phuongAn] FOREIGN KEY([maPhuongAn])
REFERENCES [dbo].[phuongAnBinhChon] ([id])
GO
ALTER TABLE [dbo].[phieuBau] CHECK CONSTRAINT [FK_phieuBau_phuongAn]
GO
ALTER TABLE [dbo].[phuongAnBinhChon]  WITH CHECK ADD  CONSTRAINT [FK_phuongAn_binhChon] FOREIGN KEY([maBinhChon])
REFERENCES [dbo].[binhChon] ([id])
GO
ALTER TABLE [dbo].[phuongAnBinhChon] CHECK CONSTRAINT [FK_phuongAn_binhChon]
GO
ALTER TABLE [dbo].[quanLyXe]  WITH CHECK ADD  CONSTRAINT [FK_quanLyXe_canHo] FOREIGN KEY([maCanHo])
REFERENCES [dbo].[canHo] ([id])
GO
ALTER TABLE [dbo].[quanLyXe] CHECK CONSTRAINT [FK_quanLyXe_canHo]
GO
ALTER TABLE [dbo].[quanLyXe]  WITH CHECK ADD  CONSTRAINT [FK_quanLyXe_theTu] FOREIGN KEY([maThe])
REFERENCES [dbo].[theTu] ([id])
GO
ALTER TABLE [dbo].[quanLyXe] CHECK CONSTRAINT [FK_quanLyXe_theTu]
GO
ALTER TABLE [dbo].[taiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_taiKhoan_boPhan] FOREIGN KEY([boPhanCode])
REFERENCES [dbo].[danhMucBoPhan] ([maBoPhan])
GO
ALTER TABLE [dbo].[taiKhoan] CHECK CONSTRAINT [FK_taiKhoan_boPhan]
GO
ALTER TABLE [dbo].[taiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_taiKhoan_vaiTro] FOREIGN KEY([vaiTro])
REFERENCES [dbo].[danhMucVaiTro] ([maVaiTro])
GO
ALTER TABLE [dbo].[taiKhoan] CHECK CONSTRAINT [FK_taiKhoan_vaiTro]
GO
ALTER TABLE [dbo].[theTu]  WITH CHECK ADD  CONSTRAINT [FK_theTu_canHo] FOREIGN KEY([maCanHo])
REFERENCES [dbo].[canHo] ([id])
GO
ALTER TABLE [dbo].[theTu] CHECK CONSTRAINT [FK_theTu_canHo]
GO
ALTER TABLE [dbo].[theTu]  WITH CHECK ADD  CONSTRAINT [FK_theTu_cuDan] FOREIGN KEY([maCuDan])
REFERENCES [dbo].[cuDan] ([id])
GO
ALTER TABLE [dbo].[theTu] CHECK CONSTRAINT [FK_theTu_cuDan]
GO
ALTER TABLE [dbo].[theTu_ChucNang]  WITH CHECK ADD  CONSTRAINT [FK_ttcn_theTu] FOREIGN KEY([maThe])
REFERENCES [dbo].[theTu] ([id])
GO
ALTER TABLE [dbo].[theTu_ChucNang] CHECK CONSTRAINT [FK_ttcn_theTu]
GO
ALTER TABLE [dbo].[thongBao]  WITH CHECK ADD  CONSTRAINT [FK_thongBao_canHo] FOREIGN KEY([maCanHo])
REFERENCES [dbo].[canHo] ([id])
GO
ALTER TABLE [dbo].[thongBao] CHECK CONSTRAINT [FK_thongBao_canHo]
GO
ALTER TABLE [dbo].[thongBao]  WITH CHECK ADD  CONSTRAINT [FK_thongBao_nhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[nhanVien] ([id])
GO
ALTER TABLE [dbo].[thongBao] CHECK CONSTRAINT [FK_thongBao_nhanVien]
GO
ALTER TABLE [dbo].[thongBao_DaDoc]  WITH CHECK ADD  CONSTRAINT [FK_daDoc_cuDan] FOREIGN KEY([maCuDan])
REFERENCES [dbo].[cuDan] ([id])
GO
ALTER TABLE [dbo].[thongBao_DaDoc] CHECK CONSTRAINT [FK_daDoc_cuDan]
GO
ALTER TABLE [dbo].[thongBao_DaDoc]  WITH CHECK ADD  CONSTRAINT [FK_daDoc_thongBao] FOREIGN KEY([maThongBao])
REFERENCES [dbo].[thongBao] ([id])
GO
ALTER TABLE [dbo].[thongBao_DaDoc] CHECK CONSTRAINT [FK_daDoc_thongBao]
GO
ALTER TABLE [dbo].[bieuGiaDichVu]  WITH CHECK ADD  CONSTRAINT [CK_bieuGiaDichVu_loaiDichVu] CHECK  (([loaiDichVu]='GuiXeMay' OR [loaiDichVu]='GuiXeOTo' OR [loaiDichVu]='PhiQuanLy' OR [loaiDichVu]='Nuoc' OR [loaiDichVu]='Dien'))
GO
ALTER TABLE [dbo].[bieuGiaDichVu] CHECK CONSTRAINT [CK_bieuGiaDichVu_loaiDichVu]
GO
ALTER TABLE [dbo].[binhChon]  WITH CHECK ADD  CONSTRAINT [CK_binhChon_hanChot] CHECK  (([hanChot]>[ngayBatDau]))
GO
ALTER TABLE [dbo].[binhChon] CHECK CONSTRAINT [CK_binhChon_hanChot]
GO
ALTER TABLE [dbo].[binhChon]  WITH CHECK ADD  CONSTRAINT [CK_binhChon_trangThai] CHECK  (([trangThai]='KhongDuTucSo' OR [trangThai]='DaDong' OR [trangThai]='DangMo'))
GO
ALTER TABLE [dbo].[binhChon] CHECK CONSTRAINT [CK_binhChon_trangThai]
GO
ALTER TABLE [dbo].[canHo]  WITH CHECK ADD  CONSTRAINT [CK_canHo_dienTich] CHECK  (([dienTich]>(0)))
GO
ALTER TABLE [dbo].[canHo] CHECK CONSTRAINT [CK_canHo_dienTich]
GO
ALTER TABLE [dbo].[canHo]  WITH CHECK ADD  CONSTRAINT [CK_canHo_trangThai] CHECK  (([trangThai]='BaoTri' OR [trangThai]='TrongChoThue' OR [trangThai]='DangO'))
GO
ALTER TABLE [dbo].[canHo] CHECK CONSTRAINT [CK_canHo_trangThai]
GO
ALTER TABLE [dbo].[chamCong]  WITH CHECK ADD  CONSTRAINT [CK_chamCong_caLam] CHECK  (([caLam]='Dem' OR [caLam]='Chieu' OR [caLam]='Sang'))
GO
ALTER TABLE [dbo].[chamCong] CHECK CONSTRAINT [CK_chamCong_caLam]
GO
ALTER TABLE [dbo].[chamCong]  WITH CHECK ADD  CONSTRAINT [CK_chamCong_gioRa] CHECK  (([gioRa] IS NULL OR [gioRa]>[gioVao]))
GO
ALTER TABLE [dbo].[chamCong] CHECK CONSTRAINT [CK_chamCong_gioRa]
GO
ALTER TABLE [dbo].[chiSoTieuThu]  WITH CHECK ADD CHECK  (([thang]>=(1) AND [thang]<=(12)))
GO
ALTER TABLE [dbo].[chiSoTieuThu]  WITH CHECK ADD  CONSTRAINT [CK_chiSoTieuThu_chiSo] CHECK  (([chiSo]>=(0)))
GO
ALTER TABLE [dbo].[chiSoTieuThu] CHECK CONSTRAINT [CK_chiSoTieuThu_chiSo]
GO
ALTER TABLE [dbo].[chiSoTieuThu]  WITH CHECK ADD  CONSTRAINT [CK_chiSoTieuThu_loaiDichVu] CHECK  (([loaiDichVu]='Nuoc' OR [loaiDichVu]='Dien'))
GO
ALTER TABLE [dbo].[chiSoTieuThu] CHECK CONSTRAINT [CK_chiSoTieuThu_loaiDichVu]
GO
ALTER TABLE [dbo].[chiSoTieuThu]  WITH CHECK ADD  CONSTRAINT [CK_chiSoTieuThu_thang] CHECK  (([thang]>=(1) AND [thang]<=(12)))
GO
ALTER TABLE [dbo].[chiSoTieuThu] CHECK CONSTRAINT [CK_chiSoTieuThu_thang]
GO
ALTER TABLE [dbo].[chiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [CK_chiTietHoaDon_donViTinh] CHECK  (([donViTinh] IS NULL OR ([donViTinh]='luot' OR [donViTinh]='xe' OR [donViTinh]='m2' OR [donViTinh]='m3' OR [donViTinh]='kWh')))
GO
ALTER TABLE [dbo].[chiTietHoaDon] CHECK CONSTRAINT [CK_chiTietHoaDon_donViTinh]
GO
ALTER TABLE [dbo].[chiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [CK_chiTietHoaDon_loaiDichVu] CHECK  (([loaiDichVu]='DatTienIch' OR [loaiDichVu]='GuiXeMay' OR [loaiDichVu]='GuiXeOTo' OR [loaiDichVu]='PhiQuanLy' OR [loaiDichVu]='Nuoc' OR [loaiDichVu]='Dien'))
GO
ALTER TABLE [dbo].[chiTietHoaDon] CHECK CONSTRAINT [CK_chiTietHoaDon_loaiDichVu]
GO
ALTER TABLE [dbo].[cuDan]  WITH CHECK ADD  CONSTRAINT [CK_cuDan_loaiCuDan] CHECK  (([loaiCuDan]='KhachThue' OR [loaiCuDan]='ChuHo'))
GO
ALTER TABLE [dbo].[cuDan] CHECK CONSTRAINT [CK_cuDan_loaiCuDan]
GO
ALTER TABLE [dbo].[cuDan]  WITH CHECK ADD  CONSTRAINT [CK_cuDan_trangThai] CHECK  (([trangThai]='DaChuyenDi' OR [trangThai]='DangO'))
GO
ALTER TABLE [dbo].[cuDan] CHECK CONSTRAINT [CK_cuDan_trangThai]
GO
ALTER TABLE [dbo].[danhMucTienIch]  WITH CHECK ADD  CONSTRAINT [CK_danhMucTienIch_trangThaiHoatDong] CHECK  (([trangThaiHoatDong]='BaoTri' OR [trangThaiHoatDong]='TamNgung' OR [trangThaiHoatDong]='HoatDong'))
GO
ALTER TABLE [dbo].[danhMucTienIch] CHECK CONSTRAINT [CK_danhMucTienIch_trangThaiHoatDong]
GO
ALTER TABLE [dbo].[datLichTienIch]  WITH CHECK ADD  CONSTRAINT [CK_datLichTienIch_trangThai] CHECK  (([trangThai]='DaHuy' OR [trangThai]='HoanThanh' OR [trangThai]='DaDuyet' OR [trangThai]='ChoDuyet'))
GO
ALTER TABLE [dbo].[datLichTienIch] CHECK CONSTRAINT [CK_datLichTienIch_trangThai]
GO
ALTER TABLE [dbo].[giaoDichThanhToan]  WITH CHECK ADD  CONSTRAINT [CK_giaoDichThanhToan_phuongThuc] CHECK  (([phuongThuc]='QR' OR [phuongThuc]='ChuyenKhoan' OR [phuongThuc]='TienMat'))
GO
ALTER TABLE [dbo].[giaoDichThanhToan] CHECK CONSTRAINT [CK_giaoDichThanhToan_phuongThuc]
GO
ALTER TABLE [dbo].[giaoDichThanhToan]  WITH CHECK ADD  CONSTRAINT [CK_giaoDichThanhToan_trangThai] CHECK  (([trangThai]='ThatBai' OR [trangThai]='ThanhCong' OR [trangThai]='ChoXacNhan'))
GO
ALTER TABLE [dbo].[giaoDichThanhToan] CHECK CONSTRAINT [CK_giaoDichThanhToan_trangThai]
GO
ALTER TABLE [dbo].[hoaDon]  WITH CHECK ADD CHECK  (([thang]>=(1) AND [thang]<=(12)))
GO
ALTER TABLE [dbo].[hoaDon]  WITH CHECK ADD  CONSTRAINT [CK_hoaDon_thang] CHECK  (([thang]>=(1) AND [thang]<=(12)))
GO
ALTER TABLE [dbo].[hoaDon] CHECK CONSTRAINT [CK_hoaDon_thang]
GO
ALTER TABLE [dbo].[hoaDon]  WITH CHECK ADD  CONSTRAINT [CK_hoaDon_trangThaiThanhToan] CHECK  (([trangThaiThanhToan]='QuaHan' OR [trangThaiThanhToan]='DaThanhToan' OR [trangThaiThanhToan]='ChuaThanhToan'))
GO
ALTER TABLE [dbo].[hoaDon] CHECK CONSTRAINT [CK_hoaDon_trangThaiThanhToan]
GO
ALTER TABLE [dbo].[nhatKyCaTruc]  WITH CHECK ADD  CONSTRAINT [CK_nhatKyCaTruc_caTruc] CHECK  (([caTruc]='Dem' OR [caTruc]='Chieu' OR [caTruc]='Sang'))
GO
ALTER TABLE [dbo].[nhatKyCaTruc] CHECK CONSTRAINT [CK_nhatKyCaTruc_caTruc]
GO
ALTER TABLE [dbo].[nhatKyTuanTra]  WITH CHECK ADD  CONSTRAINT [CK_nhatKyTuanTra_soTang] CHECK  (([soTang]>=(1) AND [soTang]<=(25)))
GO
ALTER TABLE [dbo].[nhatKyTuanTra] CHECK CONSTRAINT [CK_nhatKyTuanTra_soTang]
GO
ALTER TABLE [dbo].[phanAnhSuCo]  WITH CHECK ADD  CONSTRAINT [CK_phanAnhSuCo_loaiSuCo] CHECK  (([loaiSuCo]='Khac' OR [loaiSuCo]='VeSinh' OR [loaiSuCo]='AnNinh' OR [loaiSuCo]='PCCC' OR [loaiSuCo]='ThangMay' OR [loaiSuCo]='Nuoc' OR [loaiSuCo]='Dien'))
GO
ALTER TABLE [dbo].[phanAnhSuCo] CHECK CONSTRAINT [CK_phanAnhSuCo_loaiSuCo]
GO
ALTER TABLE [dbo].[phanAnhSuCo]  WITH CHECK ADD  CONSTRAINT [CK_phanAnhSuCo_mucDoUuTien] CHECK  (([mucDoUuTien]='Thap' OR [mucDoUuTien]='TrungBinh' OR [mucDoUuTien]='Cao'))
GO
ALTER TABLE [dbo].[phanAnhSuCo] CHECK CONSTRAINT [CK_phanAnhSuCo_mucDoUuTien]
GO
ALTER TABLE [dbo].[phanAnhSuCo]  WITH CHECK ADD  CONSTRAINT [CK_phanAnhSuCo_nguonGui] CHECK  (([nguonGui]='BaoVe' OR [nguonGui]='LeTan' OR [nguonGui]='CuDan'))
GO
ALTER TABLE [dbo].[phanAnhSuCo] CHECK CONSTRAINT [CK_phanAnhSuCo_nguonGui]
GO
ALTER TABLE [dbo].[phanAnhSuCo]  WITH CHECK ADD  CONSTRAINT [CK_phanAnhSuCo_trangThai] CHECK  (([trangThai]='Huy' OR [trangThai]='HoanThanh' OR [trangThai]='DangXuLy' OR [trangThai]='DaTiepNhan' OR [trangThai]='MoiTiepNhan'))
GO
ALTER TABLE [dbo].[phanAnhSuCo] CHECK CONSTRAINT [CK_phanAnhSuCo_trangThai]
GO
ALTER TABLE [dbo].[quanLyXe]  WITH CHECK ADD  CONSTRAINT [CK_quanLyXe_loaiXe] CHECK  (([loaiXe]='XeDap' OR [loaiXe]='XeMay' OR [loaiXe]='OTo'))
GO
ALTER TABLE [dbo].[quanLyXe] CHECK CONSTRAINT [CK_quanLyXe_loaiXe]
GO
ALTER TABLE [dbo].[taiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_taiKhoan_boPhan_theoVaiTro] CHECK  ((([vaiTro]='NV' OR [vaiTro]='BQL') AND [boPhanCode] IS NOT NULL OR [vaiTro]='CD' AND [boPhanCode] IS NULL))
GO
ALTER TABLE [dbo].[taiKhoan] CHECK CONSTRAINT [CK_taiKhoan_boPhan_theoVaiTro]
GO
ALTER TABLE [dbo].[theTu]  WITH CHECK ADD  CONSTRAINT [CK_theTu_ngayHetHan] CHECK  (([ngayHetHan] IS NULL OR [ngayHetHan]>[ngayCap]))
GO
ALTER TABLE [dbo].[theTu] CHECK CONSTRAINT [CK_theTu_ngayHetHan]
GO
ALTER TABLE [dbo].[theTu]  WITH CHECK ADD  CONSTRAINT [CK_theTu_trangThai] CHECK  (([trangThai]='DaThuHoi' OR [trangThai]='TamKhoa' OR [trangThai]='DangSuDung'))
GO
ALTER TABLE [dbo].[theTu] CHECK CONSTRAINT [CK_theTu_trangThai]
GO
ALTER TABLE [dbo].[theTu_ChucNang]  WITH CHECK ADD  CONSTRAINT [CK_theTuChucNang_chucNang] CHECK  (([chucNang]='PhongGym' OR [chucNang]='HoBoi' OR [chucNang]='BaiXeMay' OR [chucNang]='BaiXeOTo' OR [chucNang]='ThangMay' OR [chucNang]='CuaChinh'))
GO
ALTER TABLE [dbo].[theTu_ChucNang] CHECK CONSTRAINT [CK_theTuChucNang_chucNang]
GO
ALTER TABLE [dbo].[thongBao]  WITH CHECK ADD  CONSTRAINT [CK_thongBao_doiTuong] CHECK  (([doiTuong]='CanHo' OR [doiTuong]='CuDan' OR [doiTuong]='NhanVien' OR [doiTuong]='TatCa'))
GO
ALTER TABLE [dbo].[thongBao] CHECK CONSTRAINT [CK_thongBao_doiTuong]
GO
ALTER TABLE [dbo].[thongBao]  WITH CHECK ADD  CONSTRAINT [CK_thongBao_loaiThongBao] CHECK  (([loaiThongBao]='NhacPhi' OR [loaiThongBao]='KhanCap' OR [loaiThongBao]='BaoTri' OR [loaiThongBao]='ThongThuong'))
GO
ALTER TABLE [dbo].[thongBao] CHECK CONSTRAINT [CK_thongBao_loaiThongBao]
GO
ALTER TABLE [dbo].[thongBao]  WITH CHECK ADD  CONSTRAINT [CK_thongBao_maCanHo_doiTuong] CHECK  (([doiTuong]='CanHo' AND [maCanHo] IS NOT NULL OR [doiTuong]<>'CanHo' AND [maCanHo] IS NULL))
GO
ALTER TABLE [dbo].[thongBao] CHECK CONSTRAINT [CK_thongBao_maCanHo_doiTuong]
GO
/****** Object:  StoredProcedure [dbo].[sp_BoPhieu]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_BoPhieu]
    @maBinhChon INT,
    @maPhuongAn INT,
    @maCuDan    INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Cuoc binh chon phai dang mo va con han
    IF NOT EXISTS (SELECT 1 FROM dbo.binhChon
                   WHERE id = @maBinhChon
                     AND trangThai = N'DangMo'
                     AND hanChot > GETDATE())
    BEGIN
        RAISERROR(N'Cuoc binh chon da dong hoac het han', 16, 1);
        RETURN;
    END

    -- Phuong an phai thuoc dung cuoc binh chon
    IF NOT EXISTS (SELECT 1 FROM dbo.phuongAnBinhChon
                   WHERE id = @maPhuongAn AND maBinhChon = @maBinhChon)
    BEGIN
        RAISERROR(N'Phuong an khong thuoc cuoc binh chon nay', 16, 1);
        RETURN;
    END

    DECLARE @maCanHo INT;
    SELECT @maCanHo = maCanHo FROM dbo.cuDan WHERE id = @maCuDan;

    BEGIN TRY
        INSERT INTO dbo.phieuBau (maBinhChon, maPhuongAn, maCuDan, maCanHo)
        VALUES (@maBinhChon, @maPhuongAn, @maCuDan, @maCanHo);
        PRINT N'Bo phieu thanh cong';
    END TRY
    BEGIN CATCH
        IF ERROR_NUMBER() IN (2601, 2627)  -- vi pham UNIQUE
            RAISERROR(N'Can ho cua ban da bo phieu cho cuoc binh chon nay', 16, 1);
        ELSE
            THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatKetQuaSuCo]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CapNhatKetQuaSuCo]
    @maPhanAnh   INT,
    @maNhanVien  INT,
    @anhSauXuLy  VARCHAR(255),
    @ghiChu      NVARCHAR(300) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM dbo.phanAnhSuCo
                   WHERE id = @maPhanAnh AND maNhanVien = @maNhanVien)
    BEGIN
        RAISERROR(N'Phieu khong ton tai hoac khong duoc giao cho nhan vien nay', 16, 1);
        RETURN;
    END

    UPDATE dbo.phanAnhSuCo
    SET trangThai = 'HoanThanh', anhSauXuLy = @anhSauXuLy, ngayHoanThanh = GETDATE()
    WHERE id = @maPhanAnh;

    INSERT INTO dbo.lichSuXuLySuCo (maPhanAnh, trangThai, ghiChu, maNhanVien)
    VALUES (@maPhanAnh, 'HoanThanh',
            ISNULL(@ghiChu, N'Da xu ly xong, kem anh nghiem thu'), @maNhanVien);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DongBinhChon]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DongBinhChon] @maBinhChon INT AS BEGIN     SET NOCOUNT ON;     IF NOT EXISTS (SELECT 1 FROM dbo.binhChon WHERE id = @maBinhChon AND trangThai = N'DangMo')     BEGIN         RAISERROR(N'Cuộc bình chọn không tồn tại hoặc đã đóng', 16, 1);         RETURN;     END     DECLARE @tongCan INT, @canDaBau INT, @tyLeThamGia DECIMAL(5,2), @tucSo DECIMAL(5,2);     SELECT @tongCan = ISNULL(tongCanHoLucMo, (SELECT COUNT(*) FROM dbo.canHo WHERE trangThai = N'DangO')),            @tucSo = tyLeTucSo     FROM dbo.binhChon WHERE id = @maBinhChon;     SELECT @canDaBau = COUNT(DISTINCT maCanHo) FROM dbo.phieuBau WHERE maBinhChon = @maBinhChon;     SET @tyLeThamGia = CASE WHEN @tongCan = 0 THEN 0 ELSE CAST(100.0 * @canDaBau / @tongCan AS DECIMAL(5,2)) END;     DECLARE @maxVotes INT = 0;     SELECT @maxVotes = ISNULL(MAX(t.soPhieu), 0) FROM (         SELECT pa.id, COUNT(pb.id) AS soPhieu FROM dbo.phuongAnBinhChon pa         LEFT JOIN dbo.phieuBau pb ON pb.maPhuongAn = pa.id         WHERE pa.maBinhChon = @maBinhChon GROUP BY pa.id, pa.noiDung     ) t;     DECLARE @countMax INT = 0, @phuongAnThang NVARCHAR(300) = NULL;     SELECT @countMax = COUNT(*), @phuongAnThang = MAX(pa.noiDung) FROM (         SELECT pa.id, pa.noiDung, COUNT(pb.id) AS soPhieu FROM dbo.phuongAnBinhChon pa         LEFT JOIN dbo.phieuBau pb ON pb.maPhuongAn = pa.id         WHERE pa.maBinhChon = @maBinhChon GROUP BY pa.id, pa.noiDung     ) pa WHERE pa.soPhieu = @maxVotes;     DECLARE @noiDungKetQua NVARCHAR(500);     IF @countMax >= 2     BEGIN         IF @tyLeThamGia >= @tucSo             SET @noiDungKetQua = N'Hòa phiếu — không có phương án nào được thông qua (' + CAST(@maxVotes AS NVARCHAR) + N' phiếu, tỷ lệ tham gia ' + CAST(@tyLeThamGia AS NVARCHAR) + N'%)';         ELSE             SET @noiDungKetQua = N'KHÔNG ĐỦ TÚC SỐ (' + CAST(@tyLeThamGia AS NVARCHAR) + N'% < ' + CAST(@tucSo AS NVARCHAR) + N'%). Hòa phiếu — không có phương án chiến thắng.';     END     ELSE     BEGIN         IF @tyLeThamGia >= @tucSo             SET @noiDungKetQua = N'Thông qua: "' + ISNULL(@phuongAnThang, N'') + N'" (' + CAST(@maxVotes AS NVARCHAR) + N' phiếu, tỷ lệ tham gia ' + CAST(@tyLeThamGia AS NVARCHAR) + N'%)';         ELSE             SET @noiDungKetQua = N'KHÔNG ĐỦ TÚC SỐ (' + CAST(@tyLeThamGia AS NVARCHAR) + N'% < ' + CAST(@tucSo AS NVARCHAR) + N'%). Kết quả chỉ mang tính tham khảo: "' + ISNULL(@phuongAnThang, N'') + N'"';     END     UPDATE dbo.binhChon SET trangThai = CASE WHEN @tyLeThamGia >= @tucSo THEN N'DaDong' ELSE N'KhongDuTucSo' END, ketQua = LEFT(@noiDungKetQua, 500) WHERE id = @maBinhChon;     SELECT id, cauHoi, trangThai, ketQua FROM dbo.binhChon WHERE id = @maBinhChon; END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaoViecSuCo]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GiaoViecSuCo]
    @maPhanAnh   INT,
    @maNhanVien  INT,
    @mucDoUuTien VARCHAR(10) = 'TrungBinh'
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM dbo.phanAnhSuCo WHERE id = @maPhanAnh)
    BEGIN
        RAISERROR(N'Phieu phan anh khong ton tai', 16, 1);
        RETURN;
    END

    UPDATE dbo.phanAnhSuCo
    SET maNhanVien = @maNhanVien, mucDoUuTien = @mucDoUuTien, trangThai = 'DangXuLy'
    WHERE id = @maPhanAnh;

    INSERT INTO dbo.lichSuXuLySuCo (maPhanAnh, trangThai, ghiChu, maNhanVien)
    VALUES (@maPhanAnh, 'DaPhanCong',
            N'Giao viec cho nhan vien ' + CAST(@maNhanVien AS NVARCHAR)
            + N', uu tien ' + @mucDoUuTien, @maNhanVien);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_TaoTaiKhoan]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =====================================================================
   PHAN 3: STORED PROCEDURE SINH MA TAI KHOAN TU DONG
   ===================================================================== */
CREATE   PROCEDURE [dbo].[sp_TaoTaiKhoan]
    @vaiTro         VARCHAR(10),
    @boPhan         VARCHAR(10) = NULL,
    @tenDangNhap    VARCHAR(50),
    @matKhau        VARCHAR(255),
    @maTaiKhoanOut  VARCHAR(20) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF @vaiTro NOT IN ('BQL','NV','CD')
    BEGIN
        RAISERROR(N'Vai tro khong hop le (chi nhan BQL/NV/CD)', 16, 1);
        RETURN;
    END

    IF @vaiTro IN ('BQL','NV') AND (@boPhan IS NULL OR NOT EXISTS (SELECT 1 FROM danhMucBoPhan WHERE maBoPhan = @boPhan))
    BEGIN
        RAISERROR(N'BQL/NV bat buoc phai co bo phan hop le', 16, 1);
        RETURN;
    END

    DECLARE @soThuTu INT;
    DECLARE @maMoi   VARCHAR(20);

    IF @vaiTro = 'CD'
    BEGIN
        SELECT @soThuTu = COUNT(*) + 1 FROM taiKhoan WHERE vaiTro = 'CD';
        SET @maMoi = 'cd_' + FORMAT(@soThuTu, '00');

        INSERT INTO taiKhoan (maTaiKhoan, tenDangNhap, matKhau, vaiTro, boPhanCode, trangThaiHoatDong)
        VALUES (@maMoi, @tenDangNhap, @matKhau, @vaiTro, NULL, N'HoatDong');
    END
    ELSE
    BEGIN
        SELECT @soThuTu = COUNT(*) + 1 FROM taiKhoan WHERE vaiTro = @vaiTro AND boPhanCode = @boPhan;
        SET @maMoi = LOWER(@vaiTro) + '_' + LOWER(@boPhan) + FORMAT(@soThuTu, '00');

        INSERT INTO taiKhoan (maTaiKhoan, tenDangNhap, matKhau, vaiTro, boPhanCode, trangThaiHoatDong)
        VALUES (@maMoi, @tenDangNhap, @matKhau, @vaiTro, @boPhan, N'HoatDong');
    END

    SET @maTaiKhoanOut = @maMoi;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_XuatHoaDonHangLoat]    Script Date: 8/7/2026 7:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================================
-- PHẦN 3 — SỬA LẠI STORED PROCEDURE sp_XuatHoaDonHangLoat
-- =======================================================================
CREATE   PROCEDURE [dbo].[sp_XuatHoaDonHangLoat]
    @thang INT,
    @nam INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Tính tháng/năm kỳ trước và ngày cuối kỳ hiện tại
        DECLARE @thangTruoc INT = CASE WHEN @thang = 1 THEN 12 ELSE @thang - 1 END;
        DECLARE @namTruoc INT = CASE WHEN @thang = 1 THEN @nam - 1 ELSE @nam END;
        DECLARE @ngayCuoiKy DATE = EOMONTH(DATEFROMPARTS(@nam, @thang, 1));

        -- 2. Tạo hóa đơn mới cho các căn hộ DangO chưa có hóa đơn kỳ này
        DECLARE @hoaDonMoi TABLE (maHoaDon INT PRIMARY KEY, maCanHo INT);

        INSERT INTO dbo.hoaDon (maCanHo, thang, nam, tongTien, trangThaiThanhToan)
        OUTPUT inserted.id, inserted.maCanHo INTO @hoaDonMoi (maHoaDon, maCanHo)
        SELECT c.id, @thang, @nam, 0, N'ChuaThanhToan'
        FROM dbo.canHo c
        WHERE c.trangThai = N'DangO'
          AND NOT EXISTS (
              SELECT 1 FROM dbo.hoaDon h
              WHERE h.maCanHo = c.id AND h.thang = @thang AND h.nam = @nam
          );

        -- 3. Biểu giá hiệu lực chung cho tất cả dịch vụ tại mốc @ngayCuoiKy
        IF OBJECT_ID('tempdb..#giaHieuLuc') IS NOT NULL DROP TABLE #giaHieuLuc;

        SELECT g.*
        INTO #giaHieuLuc
        FROM dbo.bieuGiaDichVu g
        WHERE g.hieuLucTu = (
            SELECT MAX(b2.hieuLucTu)
            FROM dbo.bieuGiaDichVu b2
            WHERE b2.loaiDichVu = g.loaiDichVu
              AND b2.hieuLucTu <= @ngayCuoiKy
        );

        -- 4. Điện & Nước: Tách bậc và sinh diễn giải
        IF OBJECT_ID('tempdb..#bacChiTiet') IS NOT NULL DROP TABLE #bacChiTiet;

        SELECT 
            t.maHoaDon,
            t.loaiDichVu,
            t.chiSoCu,
            t.chiSoMoi,
            t.soTieuThu,
            t.donViTinh,
            g.bacTu,
            g.bacDen,
            g.donGia,
            ROW_NUMBER() OVER (PARTITION BY t.maHoaDon, t.loaiDichVu ORDER BY g.bacTu) AS thuTuBac,
            (CASE 
                WHEN g.bacDen IS NULL OR t.soTieuThu < g.bacDen THEN t.soTieuThu 
                ELSE g.bacDen 
             END - g.bacTu) AS soLuongBac,
            ((CASE 
                WHEN g.bacDen IS NULL OR t.soTieuThu < g.bacDen THEN t.soTieuThu 
                ELSE g.bacDen 
             END - g.bacTu) * g.donGia) AS tienBac
        INTO #bacChiTiet
        FROM (
            SELECT 
                m.maHoaDon,
                c_moi.loaiDichVu,
                ISNULL(c_cu.chiSo, c_moi.chiSo) AS chiSoCu,
                c_moi.chiSo AS chiSoMoi,
                (c_moi.chiSo - ISNULL(c_cu.chiSo, c_moi.chiSo)) AS soTieuThu,
                CASE WHEN c_moi.loaiDichVu = 'Dien' THEN 'kWh' ELSE 'm3' END AS donViTinh
            FROM @hoaDonMoi m
            JOIN dbo.chiSoTieuThu c_moi 
              ON c_moi.maCanHo = m.maCanHo 
             AND c_moi.thang = @thang 
             AND c_moi.nam = @nam 
             AND c_moi.loaiDichVu IN ('Dien', 'Nuoc')
            LEFT JOIN dbo.chiSoTieuThu c_cu 
              ON c_cu.maCanHo = m.maCanHo 
             AND c_cu.thang = @thangTruoc 
             AND c_cu.nam = @namTruoc 
             AND c_cu.loaiDichVu = c_moi.loaiDichVu
        ) t
        JOIN #giaHieuLuc g 
          ON g.loaiDichVu = t.loaiDichVu 
         AND g.bacTu < t.soTieuThu;

        -- 4a. Thêm các dòng tiêu thụ > 0 (tính tiền + diễn giải tách bậc)
        INSERT INTO dbo.chiTietHoaDon (maHoaDon, loaiDichVu, chiSoCu, chiSoMoi, soLuong, donViTinh, donGia, thanhTien, dienGiai)
        SELECT 
            b.maHoaDon,
            b.loaiDichVu,
            b.chiSoCu,
            b.chiSoMoi,
            b.soTieuThu AS soLuong,
            b.donViTinh,
            NULL AS donGia,
            SUM(b.tienBac) AS thanhTien,
            STRING_AGG(
                N'Bậc ' + CAST(b.thuTuBac AS NVARCHAR) + N': ' 
                + FORMAT(b.soLuongBac, 'N0') + N' ' + b.donViTinh 
                + N' × ' + FORMAT(b.donGia, 'N0') + N'đ = ' 
                + FORMAT(b.tienBac, 'N0') + N'đ',
                N'; '
            ) WITHIN GROUP (ORDER BY b.bacTu) AS dienGiai
        FROM #bacChiTiet b
        GROUP BY b.maHoaDon, b.loaiDichVu, b.chiSoCu, b.chiSoMoi, b.soTieuThu, b.donViTinh;

        -- 4b. Thêm các dòng tiêu thụ <= 0 (kỳ đầu tiên hoặc không dùng)
        INSERT INTO dbo.chiTietHoaDon (maHoaDon, loaiDichVu, chiSoCu, chiSoMoi, soLuong, donViTinh, donGia, thanhTien, dienGiai)
        SELECT 
            m.maHoaDon,
            c_moi.loaiDichVu,
            ISNULL(c_cu.chiSo, c_moi.chiSo) AS chiSoCu,
            c_moi.chiSo AS chiSoMoi,
            (c_moi.chiSo - ISNULL(c_cu.chiSo, c_moi.chiSo)) AS soLuong,
            CASE WHEN c_moi.loaiDichVu = 'Dien' THEN 'kWh' ELSE 'm3' END AS donViTinh,
            NULL AS donGia,
            0 AS thanhTien,
            N'Kỳ đầu tiên, chưa có chỉ số kỳ trước để đối chiếu' AS dienGiai
        FROM @hoaDonMoi m
        JOIN dbo.chiSoTieuThu c_moi 
          ON c_moi.maCanHo = m.maCanHo 
         AND c_moi.thang = @thang 
         AND c_moi.nam = @nam 
         AND c_moi.loaiDichVu IN ('Dien', 'Nuoc')
        LEFT JOIN dbo.chiSoTieuThu c_cu 
          ON c_cu.maCanHo = m.maCanHo 
         AND c_cu.thang = @thangTruoc 
         AND c_cu.nam = @namTruoc 
         AND c_cu.loaiDichVu = c_moi.loaiDichVu
        WHERE (c_moi.chiSo - ISNULL(c_cu.chiSo, c_moi.chiSo)) <= 0;

        -- 5. Phí quản lý: theo diện tích m² sàn (soLuong = dienTich, donViTinh = 'm2', donGia = g.donGia)
        INSERT INTO dbo.chiTietHoaDon (maHoaDon, loaiDichVu, soLuong, donViTinh, donGia, thanhTien)
        SELECT m.maHoaDon, 'PhiQuanLy', c.dienTich, 'm2', g.donGia, c.dienTich * g.donGia
        FROM @hoaDonMoi m
        JOIN dbo.canHo c ON c.id = m.maCanHo
        JOIN #giaHieuLuc g ON g.loaiDichVu = 'PhiQuanLy';

        -- 6. Gửi xe: đếm số xe nhân đơn giá (soLuong = COUNT, donViTinh = 'xe', donGia = g.donGia)
        INSERT INTO dbo.chiTietHoaDon (maHoaDon, loaiDichVu, soLuong, donViTinh, donGia, thanhTien)
        SELECT 
            m.maHoaDon,
            CASE WHEN x.loaiXe = 'OTo' THEN 'GuiXeOTo' ELSE 'GuiXeMay' END AS loaiDichVu,
            COUNT(x.id) AS soLuong,
            'xe' AS donViTinh,
            g.donGia AS donGia,
            COUNT(x.id) * g.donGia AS thanhTien
        FROM @hoaDonMoi m
        JOIN dbo.quanLyXe x ON x.maCanHo = m.maCanHo
        JOIN #giaHieuLuc g ON g.loaiDichVu = CASE WHEN x.loaiXe = 'OTo' THEN 'GuiXeOTo' ELSE 'GuiXeMay' END
        GROUP BY m.maHoaDon, x.loaiXe, g.donGia;

        -- 7. Đặt tiện ích: gộp theo lượt (soLuong = COUNT, donViTinh = 'luot', donGia = NULL)
        INSERT INTO dbo.chiTietHoaDon (maHoaDon, loaiDichVu, soLuong, donViTinh, donGia, thanhTien)
        SELECT 
            m.maHoaDon,
            'DatTienIch' AS loaiDichVu,
            COUNT(d.id) AS soLuong,
            'luot' AS donViTinh,
            NULL AS donGia,
            SUM(d.giaTien) AS thanhTien
        FROM @hoaDonMoi m
        JOIN dbo.datLichTienIch d ON d.maCanHo = m.maCanHo
        WHERE MONTH(d.ngayDat) = @thang 
          AND YEAR(d.ngayDat) = @nam
          AND d.trangThai IN ('DaDuyet', 'HoanThanh')
        GROUP BY m.maHoaDon
        HAVING SUM(d.giaTien) > 0;

        -- 8. Chốt tổng tiền cho hóa đơn vừa tạo
        UPDATE h 
        SET h.tongTien = ISNULL(t.tong, 0)
        FROM dbo.hoaDon h
        JOIN @hoaDonMoi m ON m.maHoaDon = h.id
        OUTER APPLY (
            SELECT SUM(ct.thanhTien) AS tong 
            FROM dbo.chiTietHoaDon ct
            WHERE ct.maHoaDon = h.id
        ) t;

        COMMIT TRANSACTION;

        -- 9. Trả về 2 Result Sets
        -- Result Set 1: Danh sách hóa đơn vừa tạo
        SELECT h.id AS maHoaDon, h.maCanHo, c.soPhong, h.tongTien
        FROM dbo.hoaDon h
        JOIN @hoaDonMoi m ON m.maHoaDon = h.id
        JOIN dbo.canHo c ON c.id = h.maCanHo
        ORDER BY h.id ASC;

        -- Result Set 2: Cảnh báo căn hộ DangO thiếu chỉ số Điện/Nước, chỉ số âm, hoặc thiếu diện tích
        SELECT c.id AS maCanHo, c.soPhong, req.loaiDichVu, N'Thiếu chỉ số kỳ này' AS lyDo
        FROM dbo.canHo c
        CROSS JOIN (VALUES ('Dien'), ('Nuoc')) AS req(loaiDichVu)
        JOIN @hoaDonMoi m ON m.maCanHo = c.id
        WHERE NOT EXISTS (
            SELECT 1 FROM dbo.chiSoTieuThu s
            WHERE s.maCanHo = c.id AND s.loaiDichVu = req.loaiDichVu
              AND s.thang = @thang AND s.nam = @nam
        )
        UNION ALL
        SELECT c.id AS maCanHo, c.soPhong, ct.loaiDichVu, N'Chỉ số âm (số mới < số cũ)' AS lyDo
        FROM @hoaDonMoi m
        JOIN dbo.canHo c ON c.id = m.maCanHo
        JOIN dbo.chiTietHoaDon ct ON ct.maHoaDon = m.maHoaDon
        WHERE ct.loaiDichVu IN ('Dien', 'Nuoc') AND ct.chiSoMoi < ct.chiSoCu
        UNION ALL
        SELECT c.id AS maCanHo, c.soPhong, 'PhiQuanLy' AS loaiDichVu, N'Diện tích chưa nhập hoặc <= 0' AS lyDo
        FROM @hoaDonMoi m
        JOIN dbo.canHo c ON c.id = m.maCanHo
        WHERE c.dienTich IS NULL OR c.dienTich <= 0;

    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
USE [master]
GO
